## Fees research

Refer to this document: https://hackmd.io/mxBUtD7rQrqHhK3l-5jw5g

## Yearly simulations fixed minimal fee

Minimal fixed fee in Liquity is 0.5% and can grow up to 5% depending on protocol state
Starting with 10m dollars volume and going up to \$150m volume

In [22]:
from random import uniform

import pandas as pd
from IPython.core.display_functions import display

TABLE_HEADERS = ["Volume", "Projected Yearly Revenue", "Fee"]
MINIMAL_FEE = 0.005  # in %
MAX_FEE = 0.05  # in %
# Starting with 10m volume
SIMULATED_VOLUME = 1000000

volumes = []
for volume_multiplier in range(1, 16):
    volumes.append(SIMULATED_VOLUME * volume_multiplier)
revenue_table_minimal_fees = []
revenue_table_randomized_fees = []
for sim_volume in volumes:
    revenue_table_minimal_fees.append(["{:10.4f}".format(sim_volume), sim_volume * MINIMAL_FEE, MINIMAL_FEE * 100])
    random_fee = uniform(float(MINIMAL_FEE), float(MAX_FEE))
    revenue_table_randomized_fees.append(["{:10.4f}".format(sim_volume), sim_volume * random_fee, random_fee * 100])

dataframe = pd.DataFrame(data=revenue_table_minimal_fees, columns=TABLE_HEADERS)
display(dataframe)

           Volume  Projected Yearly Revenue  Fee
0    1000000.0000                    5000.0  0.5
1    2000000.0000                   10000.0  0.5
2    3000000.0000                   15000.0  0.5
3    4000000.0000                   20000.0  0.5
4    5000000.0000                   25000.0  0.5
5    6000000.0000                   30000.0  0.5
6    7000000.0000                   35000.0  0.5
7    8000000.0000                   40000.0  0.5
8    9000000.0000                   45000.0  0.5
9   10000000.0000                   50000.0  0.5
10  11000000.0000                   55000.0  0.5
11  12000000.0000                   60000.0  0.5
12  13000000.0000                   65000.0  0.5
13  14000000.0000                   70000.0  0.5
14  15000000.0000                   75000.0  0.5